@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;  
    font-family: 'Inter', sans-serif; 
}

.text--purple {
    color: #6415ff;
}

.row {
    max-width: 1300px;
    margin: 0 auto;
}

.fa {
    color: #6415ff;
    padding: 20px;
    font-size: 24px;
    
}

/* Nav Bar */
#nav-bar {
    padding: 32px;
}

.nav-bar_tLogo {
    width: 40px;
    margin: 0 12px 0 0;
}

.nav-logo {
    font-weight: bold;
    font-size: 24px;
    display: flex;
    align-items: center;
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

li {
    list-style-type: none;
}

.nav-link--list {
    display: flex;
    align-items: center;
}

.nav-link {
    margin: 0 28px;
    font-size: 15px;
    font-weight: bold;
    color: #243e63;
}

.nav-link--login {
    margin: 0 28px 0 36px;
}

.nav-link--signup {
    border: 2px solid #6415ff;
    border-radius: 30px;
    background-color: #6415ff;
    color: white;
    border-width: 10px 32px;
}

/* Header */

.header {
    padding: 96px 0;
    display: flex;
}

.header-img {
    width: 100%;
}

.header-title {
    font-size: 48px;
    color: #1a202c;
}

.header--para {
    margin: 32px 0;
    font-size: 18px;
    color: #243e63;
    line-height: 1.5;
}

.header--leftside {
    max-width: 524px;
}

.header-email {
    position: relative;
    display: inline-block;
    white-space: nowrap;
}

.header-email--textbox {
    width: 170%;
    border: 2px solid #e9e9e3;
    border-radius: 30px;
    padding: 24px;
    font-size: 16px;
}

.header--getstarted {
    border: 2px solid #6415ff;
    border-radius: 30px;
    background-color: #6415ff;
    color: white;
    border-width: 18px 32px;
    position: absolute;
    font-size: large;
    font-weight: bold;
    left: 296px;
    bottom: 7px;
}

.header-companies {
    display: flex;
    margin-top: 116px;
    flex-direction: column;
}

.header-companies--para {
    font-size: 14px;
    font-weight: bold;
    color: #a0aec0;
}

.header-companies-img {
    width: 400px;
    margin-top: 20px;
    filter: brightness(180%);
}

/* FEATURES */
#features {
    padding-bottom: 96px;
}

.features-heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px;
}

.features--title {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 28px;
}

.features-heading-header {
    font-weight: 900;
    font-size: 48px;
    margin-bottom: 32px;
    color: #243e63;
}

.features--para {
    color: #7c8ba1;
    font-size: 18px;
    max-width: 562px;
    line-height: 1.5;
    text-align: center;
}

.features-services {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.features--service {
    display: flex;
    margin: 32px;
}

.title {
    font-size: 24px;
    font-weight: 700;
    color: #243e63;
    
}

.services--para {
    font-size: 16px;
    color: #7c8ba1;
    font-weight: 500;
    line-height: 2;
    max-width: 200px;
    margin-top: 16px;
}

.features-imgcontainer {
    border:1px solid #dbdada;    
    height: 64px;
    border-radius:50%;
    width: 64px;
}

.features-textcontainer {
    margin: 8px 0 0 16px;
}

.services--img {
    padding: 20px;
}

.bolt {
    padding-left: 22px;
}

